{% extends 'base.html' %}

{% block title %} Resultado das culturas {% endblock %}

{% block content %}
    <div class="flex flex-col justify-center content-center px-3">
        <h1 class="text-3xl text-amber-400 pb-8 font-bold">Cultivar: <u class="uppercase font-bold">{{ culture["cultura"] }}</u></h1>

        <div class="card-green">
            <h3 class="text-amber-400 text-xl uppercase">Dados importantes:</h3>
            
            <ul>
                <li class="text-gray-900 text-lg">Inicio do plantio: {{ culture["inicioPlantio"] }}</li>
                <li class="text-gray-900 text-lg">Safra: {{ culture["safra"] }}</li>
                <li class="text-gray-900 text-lg">Duracao do ciclo: {{ culture["ciclo"] }} dias</li>
            </ul>
        </div>

        <div class="card-green mt-8" style="display: block !important;">
            <h3 class="text-amber-400 text-xl uppercase">Cidades para plantio:</h3>
            
            {% for city in cities %}
                {% if loop.index != cities|length %}
                    <i class="text-lg text-gray-900">{{ city["nome"] }}, </i>
                {% else %}
                    <i class="text-lg text-gray-900">{{ city["nome"] }} </i>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}