<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O que plantar?</title>
</head>
<body>
    <h1>Deve-se plantar {{ culture["cultura"] }}</h1>

    <p>
        <h3>Dados importantes:</h3>
        <ul>
            <li>Inicio do plantio: {{ culture["inicioPlantio"] }}</li>
            <li>Safra: {{ culture["safra"] }}</li>
            <li>Duracao do ciclo: {{ culture["ciclo"] }} dias</li>
        </ul>
    </p>
    <p>
        <h3>Cidades habilitadas para o plantio:</h3>
        {% for city in cities %}
            {% if loop.index != cities|length %}
                <i>{{ city["nome"] }}, </i>
            {% else %}
                <i>{{ city["nome"] }} </i>
            {% endif %}
        {% endfor %}
    </p>
</body>
</html>