<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procura</title>
</head>
<body>
    <form action="/send-search" method="POST">
        {% if cities %}
            <select name="city" id="city">
                <option value="" default>Selecione uma cidade</option>
                {% for city in cities %}
                    <option value="{{ city['id'] }}">{{ city['nome'] }}</option>
                {% endfor %}
            </select>
        {% else %}
            <h3>Houve erro ao carregar as cidades...</h3>
        {% endif %}

        <button type="submit">Enviar</button>
    </form>
</body>
</html>